@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


html{
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    background: #F3F5FC;
}

img {
    max-width: 100%;
    height: auto;
}

.flex-contanier{
    display: flex;
    padding: 35px;
    gap: 80px;
    justify-content: space-between;
    width: 95%;
}

.caja1{
    display: flex;
    flex-direction: column;
    min-height: 530px;
    width: 55%;
}

button{
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    width: 120px;
    height: 48px;
}

.ml-200{
    margin-left: 140px;
}

.mt-80{
    margin-top: 80px;
}

.mb-16{
    margin-bottom: 16px;
}

.mt-auto{
    margin-top: auto;
}

.mb-32{
    margin-bottom: 32px;
}

.texto {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    height: 233px;
    border: none;
    background-color: #F3F5FC;
    color: #0A3871;
    letter-spacing: 0em;
    text-align: left;
    min-width: 500px;
}

textarea {
    resize: none;
}

textarea:focus-visible{
    outline: -webkit-focus-ring-color auto 0px;
}

.texto::placeholder {
    color: #0A3871;
    font-size: 32px;
}

.restricciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 229px;
    height: 18px;
}

.iconsvg {
    width: 16px;
    height: 16px;

    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.iconosvg {
    right: 0%;
    bottom: 0%;

    
}

.textresticciones {
    width: 205px;
    height: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    

    
    color: #495057;

    opacity: 0.8;

    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.cajabtn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    height: 67px;
    flex-grow: 1;
}

.encriptar {
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    /* width: 328px; */
    height: 67px;

    
    background: #0A3871;
    border-radius: 24px;

    
    flex: none;
    flex-grow: 1;
}

.encriptar p {
    /* width: 280px; */
    height: 19px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    flex-grow: 1;
}

.desencriptar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    /* width: 328px; */
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    flex-grow: 1;
}

.desencriptar p {
    /* width: 280px; */
    height: 19px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    flex: none;
    flex-grow: 1;
}

.msjs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 336px;
    height: 122px;
}

.cifrado {
    width: 400px;
    min-width: 400px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgb(0 0 0 / 8%);
    border-radius: 32px;
    display: flex;
    min-height: 510px;
}

.contenedor{
    height: 532px;
    margin: auto;
    gap: 32px;
    display: inline-grid;
    
}

.cifradoimg {
    display: flex;
    align-self: center;
    width: 336px;
    height: 304px;
    margin: auto;
}

.sinmsj {
    /* width: 336px; */
    height: 58px;
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0;
}

.ingresarmsj {
    /* width: 336px; */
    height: 48px;
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0;
}

@media only screen and (max-width: 1200px) {
    .flex-contanier {
        padding: 25px;
    }

    .texto{
        min-width: 400px;
    }

    .ml-200 {
        margin-left: 110px;
    }

    .caja1{
        width: 50%;
    }
}

@media only screen and (max-width: 1040px) {
    .ml-200 {
        margin-left: 25px;
    }

    .flex-contanier{
        gap: 35px;
    }

    .cifrado, .cifradoimg, .msjs{
        width: 300px;
    }

    .cifrado{
        min-width: 340px;
    }
    
    .texto{
        min-width: 340px;
    }
}

@media only screen and (max-width: 800px) {
    .flex-contanier{
        padding: 20px;
    }

}